.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3rem 0 3rem;
  width: 100%;
  height: 10vh;
  color: white;

  .fleche {
    img {
      height: 7vh;
      filter: invert(100%);
    }
  }

  .subject {
    h2 {
      font-family: $titleFont;
      font-weight: 300;
      font-size: 3rem;
    }
  }

  .nombre-questions {
    h2 {
      font-family: $textFont;
      font-size: 3rem;
    }
  }
  .display-none {
    h2 {
      display: none
    }
  }
}

.geoColor {
  background: $geoColor;
}

.francaisColor {
  background: $francaisColor;
}

.mathsColor {
  background: $mathsColor;
}

.anglaisColor {
  background: $anglaisColor;
}

.hidden {
  visibility: hidden;
}

.visible {
  visibility: visible;
}
