.footer {
  width: 100%;
  height: 10vh;
  background-color: $geoColor;
}

.geoColor {
  background: $geoColor;
}

.francaisColor {
  background: $francaisColor;
}

.mathsColor {
  background: $mathsColor;
}

.anglaisColor {
  background: $anglaisColor;
}
