.footer {
        width: 100vw;
        height: 11vh;
        background-color: $geoColor;
}

.geoColor {
    background: $geoColor;
}

.francaisColor {
    background: $francaisColor;
}

.mathsColor {
    background: $mathsColor;
}

.anglaisColor {
    background: $anglaisColor;
}