.geographie {
  height: 100vh;
}

.jeu {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100%;

  p {
    font-family: $textFont;
    font-size: 4em;
  }
  .Pays {
    color: $geoColor;
  }

  .questionBox {
    display: flex;
    justify-content: center;
    height: 215px;
    gap: 50px;
  }
  .boutonSuivantJeu {
    background-color: $geoColor;
    border-radius: 35px;
    display: inline-block;
    color: #ffffff;
    font-family: $titleFont;
    font-size: 1.8rem;
    padding: 14px 50px;
    text-decoration: none;
  }

  .hidden {
    visibility: hidden;
  }
  .visible {
    visibility: visible;
  }
}

.reponse-drapeau {
  text-align: center;

  .drapeau {
    cursor: pointer;
    font-size: 8em;
    border-radius: 15px;
    padding: 0px 40px;
    background-color: $white;
  }
  .bonneReponse {
    border: 5px solid green;
  }

  .mauvaiseReponse {
    border: 5px solid red;
  }
}

.reponse-capitale {
  display: flex;
  gap: 30px;
  height: 215px;

  .Capitale {
    font-family: $titleFont;
    cursor: pointer;
    font-size: 2em;
    border-radius: 15px;
    padding: 0px 40px;
    background-color: $white;
    border: 4px solid $geoColor;
    height: 50%;
  }

  .bonneReponse {
    border: 4px solid green;
  }
  .mauvaiseReponse {
    border: 4px solid red;
  }
}
