
.geographie {
  height: 100vh;
}


.reponse-drapeau {
  text-align: center;
  padding-top: 50px;



  .mauvaiseReponse {
    border: 1px solid red;
  }
}

.reponse-capitale {
  padding-top: 50px;

  .Capitale {
    display: block;
    cursor: pointer;
    text-align: center;
    font-size: 3em;
    font-family: $titleFont;
    border-radius: 10px;
    padding: 10px 40px;
    border: 4px solid $geoColor;
    width: 20%;
    margin: 0 auto;
  }

  .bonneReponse {
    border: 4px solid green;
  }
  .mauvaiseReponse {
    border: 4px solid red;
  }
}
