.maths {
    .Maths_button {
        background-color: $mathsColor;
        border-radius: 35px;
        display: inline-block;
        color: #ffffff;
        font-family: $titleFont;
        font-size: 1.8rem;
        padding: 14px 50px;
        text-decoration: none;
    }

 .jeu-maths {

    font-family: $textFont;
    font-size: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;   
    justify-content: space-around;
    height: 100%;
    width: 100%;

        .input-answer {
            font-family: $textFont;
            font-size: 40px;
            height: 10vh;
            width: 20vw;
        }
        
        .bonneReponse {
            border: 1px solid green;
        }

        .mauvaiseReponse {
            border: 1px solid red;
        }

        .boutonNextJeu, .boutonOKJeu{
            background-color: $mathsColor;
            border-radius: 35px;
            display: inline-block;
            color: #ffffff;
            font-family: $titleFont;
            font-size: 1.8rem;
            padding: 14px 50px;
            text-decoration: none;
        }
    }
 }

