.maths {

    .Maths_button {
        background-color: $mathsColor;
        border-radius: 35px;
        display: inline-block;
        color: #ffffff;
        font-family: $titleFont;
        font-size: 1.8rem;
        padding: 14px 50px;
        text-decoration: none;
    }
    .Maths_button_retourHome {
        background-color:$white;
        border: solid 2px $mathsColor;
        border-radius:35px;
        display:inline-block;
        color:$mathsColor;
        font-family:$titleFont;
        font-size:1.8rem;
        padding:14px 50px;
        text-decoration:none;
 }

 .jeu-maths {
    font-family: $textFont;
    display : flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 40%;
    padding-bottom: 10%;

        .question {
            display: flex;
        }

        .input-answer {
            font-family: $textFont;
            border: solid 1px black;
            width: 30%;
            text-align: center;
            font-size: 1.5rem;
        }

        input:focus{
            outline: none;
        }
        
        .bonneReponse {
            border: 3px solid green;
            width: 30%;
        }

        .mauvaiseReponse {
            border: 3px solid red;
            width: 30%;
        }

        .visibleButton {
            display: block;
        }
        
        
        .hiddenButton {
            display: none;
        }

        .boutonNextJeu, .boutonOKJeu{
            background-color: $mathsColor;
            border-radius: 35px;
            color: #ffffff;
            font-family: $titleFont;
            font-size: 1.8rem;
            padding: 14px 50px;
            text-decoration: none;
        }
    }
 }
