@import "./components/HomePage/HomePage.scss";
@import "./components/Header/Header.scss";
@import "./components/Geographie/Geographie.scss";
@import "./components/Francais/Francais.scss";
@import "./components/Maths/Maths.scss";
@import "./components/Anglais/Anglais.scss";
@import "./components/Footer/Footer.scss";


$geoColor: #FDC817;
$francaisColor: #7ED957;
$mathsColor: #FF3131;
$anglaisColor: #5CE1E6;
$backGroundColor: #FDF4E7;
$titleColor: #FA8E78;

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}