@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Quicksand:wght@300;400;500;600;700&display=swap');

$geoColor: #FDC817;
$francaisColor: #7ED957;
$mathsColor: #FF3131;
$anglaisColor: #5CE1E6;
$backGroundColor: #FDF4E7;
$titleColor: #FA8E78;
$white: #FFFFFF;
$titleFont: 'Pacifico', cursive;
$textFont: 'Quicksand', sans-serif;


* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    background-color: $backGroundColor
}

#root {
    background-color: $backGroundColor
}

@import "./components/HomePage/HomePage.scss";
@import "./components/Header/Header.scss";
@import "./components/Geographie/Geographie.scss";
@import "./components/Francais/Francais.scss";
@import "./components/Maths/Maths.scss";
@import "./components/Anglais/Anglais.scss";
@import "./components/Footer/Footer.scss";